/* white  #F5EFFF; */
/* light orange  #FFA69E */


* {
    font-family: 'Damion', cursive;


}

body {
    color: #F5EFFF;
    background: linear-gradient(rgba(252, 252, 252, 0.5), rgba(0, 0, 0, 0.5)), url(../img/a.jpeg)center/cover fixed no-repeat;
}


/* NAV BAR */
.info {
    background: #F5EFFF;
}

.primary-color {
    color: #FFA69E;
}


.info h2 {
    word-spacing: 0.6rem;
}

.info a {
    transition: color 2s ease-in-out;
}

.info a:hover {
    color: black;
}


/* HEADER */
small {
    color: #A9BCD0
}

#header {
    min-height: calc(100vh - 94px);
    /* overlay color for background */
    background: linear-gradient(rgba(205, 192, 192, 0.5), rgba(0, 0, 0, 0.5)), url('../img/banner.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

.height-90 {
    min-height: calc(100vh - 94px);
}

.banner h1 {
    border-top: 6px dotted #F5EFFF;
    border-bottom: 6px dotted #F5EFFF;
    animation: fromLeft;
    animation-duration: 3s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes fromLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0
    }

    50% {
        transform: translateX(35px);
    }

    100% {
        transofrm: translateX(0);
        opacity: 1
    }
}

.main-btn {
    color: #A9BCD0;
    font-size: 2rem;
    padding: 0 1rem 0 1rem;
    border: 3px solid #F5EFFF;
    transition: all 1s ease-in-out;

}

.main-btn:hover {
    border-radius: 10px;
    background: #c9c1ac;
}

.skincare-btn {
    animation: fromRight;
    animation-duration: 4s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes fromRight {
    0% {
        transform: translateX(+100px);
        opacity: 0
    }

    50% {
        transform: translateX(-35px);
    }

    100% {
        transofrm: translateX(0);
        opacity: 1
    }
}

.header-link {
    display: inline-block;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transition: all 1s ease;
    color: #242424;
    animation: fromBottom;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.header-link:hover {
    color: #c9c1ac;
}

@keyframes fromBottom {
    0% {
        transform: translateY(-5px)
    }

    50% {
        transform: translateY(5px)
    }

    100% {
        transform: translateY(-5px)
    }
}



/* PRODUCT ITEMS */

.item-container {
    position: relative;
    /* for the link */
    overflow: hidden;
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    transition: all 2s ease;
}

.item-img {
    transition: all 2s ease;
}

.item-container:hover .item-img {
    transform: scale(1.2);
    opacity: 0.5;
}

.product-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* color: #FFA69E; */
    font-size: 2rem;
    border-top: 3px solid #A9BCD0;
    border-bottom: 3px solid #A9BCD0;
    transition: all 2s ease;
    opacity: 0;
}

.item-container:hover .product-link {
    opacity: 1;
}

.product-link:hover {
    color: #c9c1ac;
}

.item-container:hover {
    outline: 10px solid #c9c1ac;
    /* outline-offset: 0.8rem; */
}


/* items */
#menu {
    background-color: white;
    /* align-self: center; */
    /* background: center; */
}

section {
    margin: auto;
    /* width: 50rem; */


}



.special {
    border: 3px solid #d3325f;
    position: relative;
}

.specail-text {
    position: absolute;
    top: 0;
    right: 10%;
    background: #d3325f;
    padding: 0 0.4rem;
}