/* white  #F5EFFF; */
/* light orange  #FFA69E */


* {
    font-family: 'Damion', cursive;


}

body {
    color: #F5EFFF;
}


/* NAV BAR */
.info {
    background: #F5EFFF;
}

.primary-color {
    color: #FFA69E;
}


.info h2 {
    word-spacing: 0.6rem;
}

.info a {
    transition: color 2s ease-in-out;
}

.info a:hover {
    color: black;
}


/* HEADER */
small {
    color: #A9BCD0
}

#header {
    min-height: calc(100vh - 94px);
    /* overlay color for background */
    background: linear-gradient(rgba(205, 192, 192, 0.5), rgba(0, 0, 0, 0.5)), url('../img/banner.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

.height-90 {
    min-height: calc(100vh - 94px);
}

.banner h1 {
    border-top: 6px dotted #F5EFFF;
    border-bottom: 6px dotted #F5EFFF;
    animation: fromLeft;
    animation-duration: 3s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes fromLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0
    }

    50% {
        transform: translateX(35px);
    }

    100% {
        transofrm: translateX(0);
        opacity: 1
    }
}

.main-btn {
    color: #A9BCD0;
    font-size: 2rem;
    padding: 0 1rem 0 1rem;
    border: 3px solid #F5EFFF;
    transition: all 1s ease-in-out;

}

.main-btn:hover {
    border-radius: 10px;
    background: #c9c1ac;
}

.skincare-btn {
    animation: fromRight;
    animation-duration: 4s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes fromRight {
    0% {
        transform: translateX(+100px);
        opacity: 0
    }

    50% {
        transform: translateX(-35px);
    }

    100% {
        transofrm: translateX(0);
        opacity: 1
    }
}

.header-link {
    display: inline-block;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transition: all 1s ease;
    color: #242424;
    animation: fromBottom;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.header-link:hover {
    color: #c9c1ac;
}

@keyframes fromBottom {
    0% {
        transform: translateY(-5px)
    }

    50% {
        transform: translateY(5px)
    }

    100% {
        transform: translateY(-5px)
    }
}